<!doctype html>
<html lang="en">

{% include head.html %}

<body class="pb-5">
    <div class="container">
        <div class="row">

            {% include about.html %}

            <!-- Posts -->
            <div class="col-sm-8">
                <p class="lead text-muted mb-2 mt-5">Posts</p>
                <hr class="text-muted m-0 mb-4">

                {% for post in site.posts %}

                <div class="row mb-4">
                    <!-- Post image -->
                    <div class="col-lg-3 mb-3">
                        <a href="{{ post.url }}" style="color: black; text-decoration: none">
                            <img src="{{ post.thumbnail }}">
                        </a>
                    </div>

                    <!-- Post title, date and description -->
                    <div class="col-lg-9">
                        <a href="{{ post.url }}" style="color: black; text-decoration: none">
                            <p class="fs-5 mb-1">{{ post.title }}</p>
                            <p class="mb-1">{{ post.description }}</p>
                            <p class="text-muted">{{ post.date | date: "%Y-%m-%d" }}</p>
                        </a>
                    </div>
                </div>

                {% endfor %}
            </div>
            <!-- End posts -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>